body{
    display: grid;
    /*grid-template-rows: 20% 80% 20%;*/
    grid-template-areas: 
    "header"
    "main"
    "footer";
    row-gap: 5%;

}

header{
    position: relative;
    grid-area: header;
    height: 150px;
    background-color: darkblue;;
}
h1{
    color: white;
    font-size: 50px;
    margin-left: 30px;
    margin-bottom: 0;
}
h2{
    color: white;
    font-style: italic;
    margin-left: 70px;
    margin-top: 0;
}
.link_container {
    position: absolute;
    font-size: 30px;
    right: 50px;
    bottom: 10px;
   }
.link_container > a{
 color: white;
 text-decoration: none;
 padding: 20px;
}
main{
    grid-area: main;
    min-height: 600px;
    display: grid;
    grid-template-columns: 1fr 20fr ;
}

.sidebar{
    display: flex;
    justify-content: flex-end;
    background-color: darkblue;
    width: 140px;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-right: 25px;
}
.showHide {
    align-self: center;
    background-color:white;
    margin-right: -20px;
    height: 10%;
    width: 40px;
    font-size: 25px;
    cursor: pointer;
    z-index: 2;
}
.optionnal {
position: absolute;
align-self: center;
color: white;
font-size: 23px;
white-space: nowrap;
left: -190px;
transform: rotate(90deg);
}
footer{
    grid-area: footer;
    height: 150px;
    background-color: darkblue;
}
footer > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
footer >div> span{
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
}
.picture_container {
    display: grid;
    /*grid-template-rows: 1fr 1fr ;*/
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 20px;
    justify-items: center;
    
}
a{
    height: 300px;
    
}
.picture{
    display: grid;
    height:334px;
    width:400px;
    border: 3px black solid;
    overflow: hidden; 
}
.picture > p {
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin: 0;
    padding-left: 10px;
    font-size: 25px;
    border-top: 2px solid;
}
.picture > p > span{
  margin-right: 20px;
}

img{
    height: 300px;transition: all 1s ease;
}


/*---------PRODUCT.HTML-------------*/
.addToBasket{
    width: 200px;
    height: 100px;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(117, 201, 204);
    border: solid 3px black;
}
.btn-quantity{
    background-color: rgb(117, 201, 204);
    width: 40px;
    font-size: 20px;
}
.basketDiv{
    display: flex;
    height: 360px;
    justify-content: space-around;
    flex-direction: column;
    font-size: 25px;
}
.basketDiv > a {
    text-align: center;
    color: white;
    border: black 2px solid;
    height: 35px;
    padding: 5px;
    background-color: darkblue;
}
.quantity {
    font-size: 30px;
    padding: 40px;
}
.main_product{
    grid-area: main;
    min-height: 600px;
    display: grid;
    grid-template-columns: 1fr 8fr ;
}
#h2_product{
    color: black;
    font-size: 35px;
    margin-left: 0;
   
}
.banner {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: space-around;
    background-color: rgb(236, 243, 243);
    font-size: 25px;
    width: 92%;
    border: 1px solid;

}
.banner > h3 {
    color: black;
    margin: auto;
    text-align: center;
    width: 100%;
}
i{
    margin-right: 20px;
}
.product_infos{
    font-size: 22px;
    height: 340px;
    
}

select{
    margin-left: 10px;
}
#picture_productpage{
    height: 340px;
    width: 470px;
    position: relative;
    background-size: 530px auto ;
    background-position: left 0px top 0px;
    background-image: url('');
    overflow: hidden;
}

#Loupe{
    position: absolute;
    width: 150px;
    height:150px;
    border: solid 6px white;
    border-radius: 100px;
    background-image: url('');
    background-size: 550px auto ;
    background-position: 50px;
    box-shadow:  0 0 10px rgba(0,0,0,0.6);
    filter: brightness(1.3);
    
}
.zoom{
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}
#picture_productpage:hover > .zoom {
    opacity: 1;
}

.fa-search {
font-size: 20px;
margin-right: 5px;
}

/*------------BASKET.HTML---------------*/
.main_basket{
    font-size: 21px;
}

.little_picture{
    height: 120px;
    width: 150px;
    vertical-align: bottom;
}

table {
    display: grid;
    width: auto;
    margin: 0 20px 0 20px;
    
}
tbody{
    display: grid;
    grid-row-gap: 20px;
    
}

tbody > tr {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    border: 1px solid;
}
tbody > tr > td { 
    align-self: center;
    padding: 0;
    
}
thead {
    height: 50px;
}
thead > tr{
        display: grid;
        grid-template-columns: 5fr 1fr 1fr 1fr;
}

thead > tr > th {
    text-align: start;
}

.basket_total{
    text-align: end;
    margin-right: 25px;
}
.form_container{
    height: 350px;
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*phrase annonce formulaire*/
.form_info{
    text-align: center;
    
}
form > div {
    width: 300px;
    display: flex;
    justify-content: space-between;
}
form > .btn_container {
    justify-content: center;
}
form > .btn_container > input{
    font-size: 25px;
}

/*-------------------ORDER.HTML-------------*/
.order{
    font-size: 20px;
    text-align: start;
    padding-left: 30px ;
}
.totalPrice{
    font-size: 20px;
    text-align: center;
}
.orderContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    padding-top: 60px ;
    padding-bottom : 60px ;
    border: black 2px solid;
    grid-row-start : 1;
    grid-row-end: 3 ;
}
h3{
    text-align: center;
    font-size: 30px;
}
.clean{
    font-size: 15px;
    background-color: greenyellow;
    margin: auto;
    
}